body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
	display: none;
}

/* Video app css  */

.modal-body iframe
{
	width:100% !important;
}

input[type=radio]{
  /* Hide original inputs */
  visibility: hidden;
  position: absolute;
}
input[type=radio] + label:before{
  height:50px;
  width:50px;
  margin-right: 2px;
  content: " ";
  display: inline-block;
  vertical-align: baseline;
  border:1px solid #777;
  background: url("Images/chuck.png");
  background-size: 100% auto;
  border-radius: 50%;
}

label{
    color: dark-gray;
}

.rating :hover + label:before{
   	background: url("Images/chuckHoover.png");
   	background-size: 100% auto;
   	height: 50px;
  	width: 50px;
}

.rating > input:checked ~ label:before,
.rating:not(:checked) > label:hover + input:before,
.rating:not(:checked) > label:hover ~ label:before{
    background: url("Images/chuckHoover.png");
    background-size: 100% auto;
    height: 50px;
    width: 50px;
}

input[type=radio]:checked + label:before{
  background: url(Images/fiveStar.png);
  background-size: 100% auto;
  height: 50px;
  width: 50px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: ltr;
}
